
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Sistema de Usuários - Full</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav id="navbar">
      <div class="nav-brand"><h2>Sistema de Usuários</h2></div>
      <ul>
        <li><a href="/">Listar Usuários</a></li>
        <li><a href="/users/create">➕ Cadastrar</a></li>
        <li><a href="/auth/register">Registrar</a></li>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </nav>
    <main class="container">
      {{{body}}}
    </main>
  </body>
</html>
